.event {
	background-color: #5f2932;
	border-radius: 25px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 2px #888888;
	border: solid 2px black;	
	cursor: pointer;
}

.event.focused {
	background-color: #ebccda;
	border-color: white;
	color: black;	
}

.thumbnail-list {
	height: 64px;
	width: 64px;
	margin: 10px;
	border: solid 2px white;
}

.eventInfo {
	margin-left: 20px;
	margin-top: 5px; 
	
}

.eventName {
	font-size: 1.3em;
	text-decoration: underline;
}

.eventDesc {
	font-size: 1em;
	margin-top: 5px;
}